#genres {
    margin-top: 50px;
    width: 100%;
}

#genres p {
    color: white;
    font-size: 2em;
    display: inline; 
}

#genres select {
    display: inline;
    margin-left: 15px; 
}

.boxart-image { transition: all .2s ease-in-out; }
.boxart-image:hover { transform: scale(1.2); }