#video {
    margin: auto;
}

#genres {
    margin-top: 50px;
    width: 1000px;
}

#genres p {
    color: white;
    font-size: 2em;
    display: inline; 
}

#genres select {
    display: inline;
    margin-left: 15px; 
}