#signIn table {
  color: white;
}

#signIn th[scope="col"] {
  color: gray;
}

#signIn th[scope="col"].selected {
  color: white;
}

#signIn table button {
  background-color: transparent;
}

#signIn table button.selected {
  background-color: #007bff;
}

#signIn {
  margin-top: 50px;
  color: white;
}

.spinner-border {
  margin: auto;
  display: block;
  margin-top: 150px;
  margin-bottom: 150px;
}

.btn-outline-success {
  margin-right: 10px;
}
