@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

body {
    background-color: #141414;
}

.home h1 {
    text-align: center;
    color: white;
}

.home img {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid .row:first-child {
    height: 50px;
}
