#register-container {
    margin: auto;
    position: relative;
    width: 350px;
    padding: 3em;
}

#register {
    margin: auto;
    position: relative;
    width: 180px;
}

#register-container form {
    display: table;
}

#register-container form input {
    margin-bottom: 25px;
}

#register-container h1 {
    color: white;
}

#register-container button {
    width: 100%;
}