#register-container {
    margin: auto;
    position: relative;
    padding: 3em;
}

#register {
    margin: auto;
    position: relative;
}

#register-container form {
    display: table;
}

#register-container form input {
    margin-bottom: 25px;
}

#register-container {
    color: white;
}

#register-container button, #register-container input, #register-container form {
    width: 100%;
}