.rowContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.sliderMask {
    overflow: hidden;
    width: 95%;
}

.items {
    display: flex;
    transition: 1s ease-in;
}

h2 {
    color: white;
}

.handle {
    background: rgba(30,30,30,.9);
    width: 60px;
}

.handlePrev {

}

.handleNext {

}