.rowContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

h2 {
    color: white;
}

.handle {
    background: rgba(20, 20, 20, .5);
}

.handlePrev {
    margin-left: 25px;
}

.handleNext {
    margin-right: 25px;
}