.rowContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.rowContainer .carousel-control {
    position: relative;
    top: 50%;
}

.rowContainer .carousel-control.left {
    left: 40%;
}

.rowContainer .carousel-control.right {
    left: 60%;
}

.carousel-indicators {
    position: relative;
}

.sliderMask {
    overflow: hidden;
    width: 95%;
}

.items {
    display: flex;
    transition: 1s ease-in;
}

h2 {
    color: white;
}

.handle {
    background: rgba(30,30,30,.9);
    width: 60px;
}