.profile-wrapper {
  text-align: center;
}

.profile-wrapper img {
  cursor: pointer;
}

.profile-wrapper span {
  cursor: pointer;
}

.profile-name {
  text-decoration: none;
  color: grey;
  font-size: 1.5em;
  padding-top: 5px;
  outline: 0;
}

.profile-name:hover {
  color: white;
  text-decoration: none;
}

.profile-entry {
  align-items: center;
}